<header-strip></header-strip>
<main>
    <div class="main-title">
        <h1>User Guide</h1>
    </div>
    <div class="guide">
        <div class="guide-tabs tabs">
            <ul class="tab-links clearfix" style="width: auto">
                <li class="active"><a href="#tab1">Staking</a></li>
                <li><a href="#tab2">Create Pool</a></li>
                <li><a href="#tab3">Add BSC Network in MetaMask</a></li>
                <li><a href="#tab4">Bridge guide</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab1" class="tab active">
                    <div class="guide-box">
                        <h2 class="text-center">How to stake on TosDis?</h2>
                        <div class="row flex-row">
                            <div class="col-lg-6">
                                <div class="video-container">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3FIerKg-UJI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <ul class="adding-steps-ul">
                                    <li><b>1:</b> Install MetaMask Wallet in your Browser</li>
                                    <li><b>2:</b> Connect MetaMask  with TosDis Platform.</li>
                                    <li><b>3:</b> Click "Stake" Button in pool</li>
                                    <li><b>4:</b> Type in Token Amount</li>
                                    <li><b>5:</b> Confirm transaction in MetaMask
                                    <li>
                                    <li><b>6:</b> You can see your reward yields</li>
                                    <li><b>7:</b> Click on Harvest to collect your rewards.</li>
                                    <li><b>8:</b> Click on "Unstake" to withdraw Tokens</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="tab">
                    <div class="guide-box">
                        <h2 class="text-center">Pool Creation Guide</h2>
                        <div class="panel-group guide-book" id="accordion">
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="" data-parent="#accordion" href="#pool1">1. Open the "Create Pool" tab on Tosdis App, Select your preferred network, and connect your wallet.</a>
                                    </h4>
                                </div>
                                <div id="pool1" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <div class="bsc-guide-img">
                                            <img class="img-responsive" src="assets/images/pool-1.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#pool2">2. Fill in all the parameters carefully as explained below, and click on "Approve DIS"</a>
                                    </h4>
                                </div>
                                <div id="pool2" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <ul class="bsc-guide-ul">
                                            <li><b>Staking Token:</b> Address of token that users will stake in your pool.</li>
                                            <li><b>Pool Token:</b> Address of token that users will get as reward from your pool.</li>
                                            <li><b>Start/Finish Timestamps:</b> Go to https://www.unixtimestamp.com/ to calculate your pool start and end times.</li>
                                            <li><b>Pool token supply:</b> Enter the  number of tokens that you want to distribute.</li>
                                        </ul>
                                        <div class="bsc-guide-img">
                                            <img class="img-responsive" src="assets/images/pool-2.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#pool3">3. "Confirm" the transaction on your wallet and wait for it to be confirmed on the network.</a>
                                    </h4>
                                </div>
                                <div id="pool3" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <div class="bsc-guide-img">
                                            <img class="img-responsive" src="assets/images/pool-3.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#pool4">4. Click on "Create Pool" button</a>
                                    </h4>
                                </div>
                                <div id="pool4" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <div class="std">
                                            <p>When transaction is confirmed, "Create Pool" button will appear. Click on "Create Pool" button</p>
                                        </div>
                                        <div class="bsc-guide-img">
                                            <img class="img-responsive" src="assets/images/pool-4.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#pool5">5. Verify that your pool data is correct and proceed by clicking on "Approve Pool Token"</a>
                                    </h4>
                                </div>
                                <div id="pool5" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <div class="bsc-guide-img">
                                            <img class="img-responsive" src="assets/images/pool-5.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#pool6">6. "Confirm" the transaction on your wallet and wait for it to be confirmed on the network.</a>
                                    </h4>
                                </div>
                                <div id="pool6" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <div class="bsc-guide-img">
                                            <img class="img-responsive" src="assets/images/pool-6.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#pool7">7. Finally click on "Create Pool" and confirm transaction in your wallet.</a>
                                    </h4>
                                </div>
                                <div id="pool7" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <div class="bsc-guide-img">
                                            <img class="img-responsive" src="assets/images/pool-7.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#pool8">8. Done! Your Pool has been deployed.</a>
                                    </h4>
                                </div>
                            </div>
                            <!--end panel-->
                        </div>
                    </div>
                </div>
                <div id="tab3" class="tab">
                    <div class="guide-box">
                        <h2 class="text-center">how to add BSC Network in MetaMask Wallet?</h2>
                        <div class="panel-group guide-book" id="accordion">
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="" data-parent="#accordion" href="#collapse1">1. Click on Ethereum Network</a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <div class="std">
                                            <p>Switch the connected blockchain by clicking on the tab saying Main Ethereum Network, we need to add the Binance Smart Chain network.</p>
                                        </div>
                                        <div class="bsc-guide-img">
                                            <img class="img-responsive" src="assets/images/bsc-metamask-1.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">2. Scroll down until you find Custom RPC.</a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <div class="bsc-guide-img">
                                            <img class="img-responsive" src="assets/images/bsc-metamask-2.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">3. Enter in the BSC mainnet details as follows:</a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <ul class="bsc-guide-ul">
                                            <li><b>Network Name:</b> BSC Mainnet</li>
                                            <li><b>New RPC URL:</b> https://bsc-dataseed1.binance.org/ or https://bsc-dataseed2.binance.org/</li>
                                            <li><b>ChainID:</b> 56, or 0x38 if 56 doesn’t work</li>
                                            <li><b>Symbol:</b> BNB</li>
                                            <li><b>Block Explorer URL:</b> https://bscscan.com/</li>
                                        </ul>
                                        <div class="bsc-guide-img">
                                            <img class="img-responsive" src="assets/images/bsc-metamask-3.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">4. Click Save.</a>
                                    </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <div class="std">
                                            <p>You have now connected to the BSC mainnet with your Metamask Wallet.</p>
                                            <p>For more information please visit: <a href="https://docs.binance.org/smart-chain/wallet/metamask.html" target="_blank">https://docs.binance.org/smart-chain/wallet/metamask.html</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                        </div>
                    </div>
                </div>
                <div id="tab4" class="tab">
                    <div class="guide-box">
                        <h2 class="text-center">Guide on how to use TosDis Erc20 <> BEP20 bridge</h2>
                        <div class="panel-group guide-book" id="accordion">
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="" data-parent="#accordion" href="#bridge12">Important Notes:</a>
                                    </h4>
                                </div>
                                <div id="bridge12" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <ul class="bsc-guide-ul">
                                            <li>
                                                <b>Wrapped DIS (BSC) contract details: <br />0x57efFdE2759b68d86C544e88F7977e3314144859</b>
                                                <div class="std">
                                                    <p>Use the above contract address to add WrappedDIS to your wallet <br /> Use the above contract address to find and trade WrappedDIS on Pancake swap.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <b>Make sure you have correct network selected in TosDis app. </b>
                                                <div class="std">
                                                    <p>For example: <br> For ETH > BSC transit, Select ETH network in app <br> For BSC > ETH transit, Select BSC network in app</p>
                                                </div>
                                            </li>
                                            <li>
                                                <b>Make sure you have some ETH and BNB in this wallet for transactions fees.</b>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="" data-parent="#accordion" href="#bridge1">1. Open Bridge tab on Tosdis App and connect your wallet.</a>
                                    </h4>
                                </div>
                                <div id="bridge1" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <div class="bsc-guide-img">
                                            <img class="img-responsive" src="assets/images/bridge-1.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="" data-parent="#accordion" href="#bridge2_1">2. Quick tab to transit DIS token or other ERC-20 tokens.</a>
                                    </h4>
                                </div>
                                <div id="bridge2_1" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <div class="bsc-guide-img">
                                            <img class="img-responsive" src="assets/images/bridge-2_1.png" />
                                        </div>
                                        <div class="bsc-guide-img" style="margin-top: 100px">
                                            <img class="img-responsive" src="assets/images/bridge-2_2.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="" data-parent="#accordion" href="#bridge2">3. Enter the amount you wish to transfer</a>
                                    </h4>
                                </div>
                                <div id="bridge2" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <div class="std">
                                            <p>Enter the amount you wish to transfer to BSC network and click Approve. Wait for the approve transaction to complete. (Check the transaction status from your metamask wallet).</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="" data-parent="#accordion" href="#bridge3">4. Once Approved, Click transfer and approve transfer to BSC.</a>
                                    </h4>
                                </div>
                                <div id="bridge3" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <div class="bsc-guide-img">
                                            <img class="img-responsive" src="assets/images/bridge-3.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="" data-parent="#accordion" href="#bridge4">5. Confirm the transaction from your Wallet (prefer high gas fees).</a>
                                    </h4>
                                </div>
                                <div id="bridge4" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <div class="bsc-guide-img">
                                            <img class="img-responsive" src="assets/images/bridge-4.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="" data-parent="#accordion" href="#bridge5">6.  Once you confirm the transaction in your wallet. Wait!! Your screen will stay like this until the transaction is complete.</a>
                                    </h4>
                                </div>
                                <div id="bridge5" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <div class="bsc-guide-img">
                                            <img class="img-responsive" src="assets/images/bridge-5.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="" data-parent="#accordion" href="#bridge6">7. Popup appear</a>
                                    </h4>
                                </div>
                                <div id="bridge6" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <div class="std">
                                            <p> Once the transaction is done, a pop up will appear and will ask you to change the blockchain network in your wallet to BSC.</p>
                                        </div>
                                        <div class="bsc-guide-img">
                                            <img class="img-responsive" src="assets/images/bridge-6.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="" data-parent="#accordion" href="#bridge7">8. Change your network to BSC.</a>
                                    </h4>
                                </div>
                                <div id="bridge7" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <div class="bsc-guide-img">
                                            <img class="img-responsive" src="assets/images/bridge-7.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="" data-parent="#accordion" href="#bridge8">9. Your transaction will appear under transact to BSC box</a>
                                    </h4>
                                </div>
                                <div id="bridge8" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <div class="std">
                                            <p>Your transaction will appear under transact to BSC box. "Signed" section will appear as "NO". Track your transaction from your wallet.</p>
                                        </div>
                                        <div class="bsc-guide-img">
                                            <img class="img-responsive" src="assets/images/bridge-8.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="" data-parent="#accordion" href="#bridge9">10. Receive Button Appear</a>
                                    </h4>
                                </div>
                                <div id="bridge9" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <div class="std">
                                            <p>Once 12 network confirmation are done, signed section will change to Yes and a "Receive" button under "Action" section will appear.</p>
                                        </div>
                                        <div class="bsc-guide-img">
                                            <img class="img-responsive" src="assets/images/bridge-9.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="" data-parent="#accordion" href="#bridge10">11. Click on Receive and claim your Wrapped DIS on BSC network.</a>
                                    </h4>
                                </div>
                                <div id="bridge10" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <div class="std">
                                            <p>(Preferred Gas price: 25, Gas Limit: 200000)</p>
                                        </div>
                                        <div class="bsc-guide-img">
                                            <img class="img-responsive" src="assets/images/bridge-10.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="" data-parent="#accordion" href="#bridge11">12. Confirm and wait for the transaction to complete. A pop up will appear once done.</a>
                                    </h4>
                                </div>
                                <div id="bridge11" class="panel-collapse collapse show">
                                    <div class="panel-body card-body">
                                        <div class="bsc-guide-img">
                                            <img class="img-responsive" src="assets/images/bridge-11.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end panel-->
                            <!--panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="" data-parent="#accordion" href="#bridge12">13. Done!! Your DIS are now on the BSC network.</a>
                                    </h4>
                                </div>
                            </div>
                            <!--end panel-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>